@media (min-width: 1181px) and (max-width: 1439px) {
  .menubar {
    width: 100vw;
  }

  .landingWrapper {
    width: 100vw;
  }

  .page {
    width: 100vw;
  }

  .footer {
    width: 100vw;
  }

}
